.game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    max-width: 650px;
    height: 550px;
    margin: 0 auto;
    background-image: url('../../public/images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: normal;
    background-size: 50%;
}

.game .scissors {
    grid-column: span 2;
}

.game-on {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    max-width: 650px;
    height: 550px;
    margin: 0 auto;
}