.game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 95%;
    max-width: 670px;
    height: 25em;
    margin: 0 auto;
    background-image: url('../../public/images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: normal;
    background-size: 220px;
    align-self: center;
}

.game .scissors {
    grid-column: span 2;
}

.game-on {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;
    justify-items: center;
    align-items: center;
    width: 95%;
    max-width: 670px;
    margin: 0 auto;
}

@media (min-width: 560px) {
    .game {
        height: 32em;
        background-size: 300px;
    }

    .game-on {
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr 1fr;
        height: 32em;
    }
}

@media (min-width: 1200px) {
    .game {
        height: 34em;
        background-size: 420px;
    }

    .game-on {
        height: 34em;
    }
}