.rules-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    width: 90%;
    max-width: 450px;
}

.rules-box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
}

.rules-box div h1 {
    display: inline-block;
    color: var(--clr-dark-text)
}

.icon-close:hover {
    cursor: pointer;
}

.image-rules {
    width: 100%;
}