.App {
  text-align: center;
}

.main-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-transform: uppercase;
  background-color: var(--clr-background);
  padding: .5em 2em;
  border: 2px solid var(--clr-header-outline);
  border-radius: .5em;
  letter-spacing: .4em;
  width: 220px;
  margin: 0 auto;
}