.App {
  text-align: center;
}

button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-transform: uppercase;
  background-color: var(--clr-background);
  padding: .5em 2em;
  border: 2px solid var(--clr-header-outline);
  border-radius: .5em;
  letter-spacing: .3em;
}

button:hover {
  cursor: pointer;
}

.rules-button {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 35px;
  width: 100%;
}