*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --fw-normal: 600;
  --fw-bold: 700;

  --clr-dark-text: #3b4363;
  --clr-score-text: #2a46c0;
  --clr-header-outline: #606e85;

  --clr-background: linear-gradient(#1f3756, #141539);
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  color: white;
  line-height: 0;
  background-color: #1f3756;
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 100vh;
  font-size: 16px;
}