*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --fw-normal: 600;
  --fw-bold: 700;

  --clr-dark-text: #3b4363;
  --clr-score-text: #2a46c0;
  --clr-header-outline: #606e85;

  --clr-background: linear-gradient(#1f3756, #141539);
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  color: white;
  line-height: 0;
  background-color: var(--clr-background);
  background-image: url('../public/images/bg-triangle.svg'), var(--clr-background);
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: normal;
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 100vh;
}